*{
  box-sizing: border-box;
}
body{
  color: #333;  
  background-image: linear-gradient(#e1e3e5 1px, transparent 0px);
  background-size: 100% 1.5em;
}
img{
  width: 370px;
  height: 230px;
  object-fit: cover;
  /* border: 2px solid #333; */
}
button{
  cursor: pointer;
}
.image img{
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
}
.Outlet{
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
}
header{
  background: #222;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.header{
  max-width: 900px;
  margin: 0 auto;
  padding-inline: 10px;
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  /* margin-top: 20px; */
  margin-bottom: 50px;
  align-items: center;  
  color: white;
  gap: 15px;
}
header a{
  text-decoration: none;
  color: inherit;
}
header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 2px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
             1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  color: rgb(255, 200, 0);
  /* background: -webkit-linear-gradient(#ffa600, #bc8d14);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
nav span{
  color: rgb(255, 200, 0);
}
.logo:hover{
  color: rgb(255, 153, 0);
}
header nav{
  display: flex;
  gap: 15px;
}

div.post{
  display: flex;
  align-items: center;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  gap: 20px;
  margin-bottom: 30px;
}
div.post div.texts h2{
  margin: 0;
  font-size: 1.5rem;
}
div.post div.texts a{
  text-decoration: none;
  color: inherit;
}

div.post p.info{
  margin:6px 0;
  color: #888;
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
.author{
  margin: 0;
  color: #04248be0;
  font-weight: bold;
}
.summary{
  margin: 10px 0;
  line-height: 1.4rem;
}

form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}
input{
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px 7px;
  border: 2px solid #333;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
form button{
  width: 100%;
  display: block;
  background-color: #555;
  color: #fff;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
form button:hover{
  background-color: #333;
}
.toast button{
  box-shadow: none;
  width: -moz-fit-content;
  width: fit-content;
}
form.login h1, form.register h1{
  text-align: center;
  color: #333;
}

.Quill{
  border: 2px solid #333;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.Quill button{
  box-shadow: 0px 0px 0px 0px;
}
.post-page{
  text-align: center;
}
div.post-page a{
  color: #333;
  text-decoration: underline;
}
.post-page h1{
  margin: 0;
  padding-bottom: 4px;
  color: rgb(255, 200, 0);
  text-shadow: 2px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
             1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}
.post-page time{
  font-size: 0.8rem;
  color: #555;
}
.post-page p{
  margin: 0;
  padding-bottom: 13px;
}
.edit-row{
  text-align: center;
  margin-bottom: 20px;
}
div.post-page a.edit-btn{
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
}
div.post-page a.edit-btn:hover{
  background-color: #555;
}

a svg{
  height: 20px;
}










@media (max-width: 600px){
  img{
    width: 100%;
  }
  .post{
    flex-direction: column;
  }
  header nav{
    gap: 2px;
    flex-direction: column;
  }
}




.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/src/assets/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}